html, body {
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
}

.back {
	width: 100%;
	height: 500px;
	z-index: -1;
  	text-align: center;
	object-fit: cover;
    position: relative;
}


.nav {
    background-color: rgba(229, 210, 186, 0.8);
}

.nav a {
    font-family: Gluten;
    text-align: center;
    color: #E54715;
}

.nav a:hover {
    font-style: italic;
    color: #622B86;
}

.grid1 {
    display: grid;
    grid-column-gap: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.g1-left {
    grid-column-start: 1;
}

.g1-right {
    grid-column-start: 2;
}

h1 {
    color: orange;
    font-family: Gluten;
    font-size: 3em;
}