html, body {
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

.back {
	width: 100%;
	height: 500px;
	z-index: -1;
    margin: 0;
  	text-align: center;
	object-fit: cover;
    position: relative;
}


.nav {
    overflow: hidden;
    background-color: #342822;
	border-bottom: 1px solid black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: 0;
}

.nav a {
    font-family: Gluten;
    text-align: center;
    color: #15cadb;
    float: right;
    font-size: 16px;
    padding: 14px 16px;
	margin: 0;
}

:root {
    --mainColor:rgb(253, 224, 20);
  }
  
  a {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 2px;
    color: #15cadb;
    text-decoration: none;
    transition: background-size .4s;
  }
  
a:hover {
    background-size: 4px 100px;
}

.grid1 {
    display: grid;
    grid-column-gap: 50px;
    
}

.g1-left {
    grid-column-start: 1;
}

.g1-right {
    grid-column-start: 2;
}

h1 {
    color: #15cadb;
    font-family: Gluten;
    font-size: 2em;
}

p {
    font-family: Roboto;
    font-size: 1em;
    color: black;
    line-height: 1.7;
}

.foot {
    padding: 3%;
    float: left;
    background-color: #15cadb;
    color: white;
    width: 100%;
    height: 50px;
}

.foot a {
    color: white;
    font-family: Roboto;
    font-size: 13px;
}

h2 {
    font-family: Roboto;
    font-size: 1em;
    color: rgb(253, 224, 20);
    font-weight: bold;
    font-style: italic;
}

.buynow {
    background-color:#B4EDF2;
    padding: 5%;
    border-radius: 4%;

}