html, body {
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
}

.back {
	width: 100%;
	height: 500px;
	z-index: -1;
  	text-align: center;
	object-fit: cover;
    position: relative;
}


.nav {
    overflow: hidden;
    background-color: #342822;
	border-bottom: 1px solid black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: 0;
}

.nav a {
    font-family: Gluten;
    text-align: center;
    color: #15cadb;
    float: right;
    font-size: 16px;
    padding: 14px 16px;
	margin: 0;
}

a:hover {
    font-style: italic;
    color: #fde014;
}

a {
    color: #15cadb;
}

.grid1 {
    display: grid;
    grid-column-gap: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.g1-left {
    grid-column-start: 1;
}

.g1-right {
    grid-column-start: 2;
}

h1 {
    color: #15cadb;
    font-family: Gluten;
    font-size: 3em;
}

p {
    font-family: Roboto;
    font-size: 1em;
    color: black;
}

.foot {
    padding: 3%;
    float: left;
    background-color: #15cadb;
    color: white;
    width: 100%;
    height: 50px;
}

.foot a {
    color: white;
    font-family: Roboto;
    font-size: 13px;
}