html, body {
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
}

.back {
	width: 100%;
	height: 500px;
	z-index: -1;
  	text-align: center;
	object-fit: cover;
}

.grid1 {
    display: grid;
    grid-column-gap: 50px;
}

.g1-left {
    grid-column-start: 1;
}

.g1-right {
    grid-column-start: 2;
}